.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.CelestialSelector {
  /* Add styling for the CelestialSelector component */
  position: absolute;
  top: 50px;
  left: 50px;
  background-color: lightblue;
  color: white;
  padding: 10px; 
}

.CanvasContainer {
  /* Add styling for the Canvas container */
  position: relative;
}